<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>FacebookAutoLogAppEventsEnabled</key>
    <false/>
	<key>CLIENT_ID</key>
	<string>382833992945-a4nnuniumakdofkbe45u7dlj0skk7f0k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.382833992945-a4nnuniumakdofkbe45u7dlj0skk7f0k</string>
	<key>API_KEY</key>
	<string>AIzaSyAVx12WFJetGLhAWQSB_n2cr6rTTbQ3kGU</string>
	<key>GCM_SENDER_ID</key>
	<string>382833992945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.briceredmond.ScoreSender</string>
	<key>PROJECT_ID</key>
	<string>leaguerankings</string>
	<key>STORAGE_BUCKET</key>
	<string>leaguerankings.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:382833992945:ios:df5deb69f9e9d73c517550</string>
	<key>DATABASE_URL</key>
	<string>https://leaguerankings.firebaseio.com</string>
</dict>
</plist>
